<ion-content class="ion-padding">
  <div class="landing-content">
    <h1>Batangas District IV: </h1>
      <h1>Educational Assistance</h1>
    <ion-button expand="block" color="primary" [routerLink]="['/registration']">
      New Applicants
    </ion-button>
    <ion-button expand="block" color="primary" [routerLink]="['/renewal']">
      Renew Applicants
    </ion-button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <hr>
    <ion-button expand="block" color="dark" [routerLink]="['/home']">
      Logout
    </ion-button>
  </div>
</ion-content>
