.black-text-button {
    --color: black;
    --ion-background-color: black;
  }

.black-text-button {
    --color: black;
  }
  

ion-card{
    --ion-background-color: rgb(245, 245, 245);
}
ion-content{
    --ion-background-color: rgb(174, 252, 252);
}
ion-title{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}
ion-menu{
    background-color: aqua;
}

ion-label{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}
ion-col{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    
}

