<ion-content class="ion-padding">
  <div class="landing-content">
    <h1>Batangas District IV:</h1>
      <h1>Educational Assistance</h1>
    <ion-button expand="block" color="primary" [routerLink]="['/page-item']">
      Login
    </ion-button>
    <ion-button expand="block" color="primary" routerLink="/signup">
      Sign Up
    </ion-button>

    <br>
    <br>
    <br>
    <ion-button expand="block" color="success" routerLink="/alogin">
      Admin
    </ion-button>
    
  </div>
</ion-content>